:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* .carousel-item {
  background-color: var(--color-grey-100);
} */

.my-infowindow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
